<!DOCTYPE html>
<html lang="en">

{{>header}}

<body>



  {{>navbar}}

  <div class="containerr  w-100">
    <img src=" " alt="">
    <div class="row">
      <div class="col-10 ms-auto">
        <div class="row">
          <div class="col-5  pic">

            <img src="img/img.png" class="img1  animate__animated animate__pulse" alt="logo">


          </div>
          <div class="col-5 mt-5 text">
            <h1>PLANETARY</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo saepe adipisci iure ex provident totam?
              Necessitatibus, vel illum exercitationem voluptates cumque maxime molestias nulla ea, doloribus eligendi
              vero ipsum aliquid.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi dolorem quo tempora pariatur animi ea
              consequuntur beatae exercitationem, sapiente molestiae dignissimos quisquam laboriosam provident quidem
              illo repudiandae adipisci sit fugit?

            </p>
            <div class="row d-flex justify-content-between">
              <div class="col-3"><button class="login">LOGIN</button></div>
              <div class="col-3"><button class="signin">SIGNIN</button></div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
</body>

</html>